<%= form_for @recipe do |f| %>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        
                        <%= f.label :recipe_name, :class=>"control-label col-md-3" %>
                        <div class="col-md-8">
                            <%= f.text_field :recipe_name, :class=>"form-control"%>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :portion_cost, :class=>"control-label col-md-3"  %>
                        <div class="col-md-8">
                            <%= f.number_field :portion_cost, :class=>"form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :sub_cost, :class=>"control-label col-md-3"  %>
                        <div class="col-md-8">
                            <%= f.number_field :sub_cost, :class=>"form-control" %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :waste_cost, :class=>"control-label col-md-3"  %>
                        <div class="col-md-8">
                            <%= f.number_field :waste_cost, :class=>"form-control" %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :selling_price, :class=>"control-label col-md-3"  %>
                        <div class="col-md-8">
                            <%= f.number_field :selling_price, :class=>"form-control" %>
                        </div>
                    </div>
                    
                </div>
</div>